.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore all local history of files
**/.history

*~
*.swp
*.swo
.DS_Store
Thumbs.db

__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/

*.log
*.bak
*.tmp
*.old

build/
dist/
*.o
*.obj
*.exe
*.out